<div class="ui basic clearing spell segment">
  <h3 class="ui header">Get Excited!</h3>
  <div class="ui stackable grid">
    <div class="eleven wide column">
      <ui-spell type="passive" key="Passive" name="Jinx_Passive" class="left floated"></ui-spell>
      <p><strong>Description:</strong> Jinx receives massively increased Movement Speed and stacking Attack Speed whenever she damages an enemy champion, tower, or inhibitor that is then killed or destroyed within 3 seconds.</p>
    </div>
  </div>
</div>
<div class="ui divider"></div>
<div class="ui basic clearing spell segment">
  <h3 class="ui header">Switcheroo</h3>
  <div class="ui stackable spell grid">
    <div class="eleven wide column">
      <ui-spell type="spell" key="Q" name="JinxQ" class="left floated"></ui-spell>
      <p>Jinx swaps weapons.</p><p><span class="name">Fishbones, the Rocket Launcher:</span> Basic attacks deal 110% Damage to the target and nearby enemies, gain <span class="variable">75/100/125/150/175</span> range, drain Mana, and scale <span class="variable">25%</span> less with bonus Attack Speed.</p><p><span class="name">Pow-Pow, the Minigun:</span> Basic attacks grant bonus Attack Speed for 2.5 seconds. This effect stacks up to 3 times for a total bonus of <span class="variable">0/2/4/6/8/10/15/20/25/30/35/40/45/50/55/60/65/70%</span> (bonus scales with spell rank and Jinx's level). Stacks fall off one at a time and only benefit Jinx's first attack after switching to Rocket Launcher.</p>
    </div>
    <div class="five wide column">
      <div class="ui list">
        <div class="item">
          <i class="target icon"></i>
          <div class="content">
            <span class="name">Range:</span> 600
          </div>
        </div>
        <div class="item">
          <i class="refresh icon"></i>
          <div class="content">
            <span class="name">Cooldown:</span> 1 sec
          </div>
        </div>
        <div class="item">
          <i class="lab icon"></i>
          <div class="content">
            <span class="name">Resource:</span> 20 mana per rocket
          </div>
        </div>
      </div>
      <div class="ui dropdown button">
        <div class="text">Rank 1</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="active item">Rank 1</div>
          <div class="item">Rank 2</div>
          <div class="item">Rank 3</div>
          <div class="item">Rank 4</div>
          <div class="item">Rank 5</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui divider"></div>
<div class="ui basic clearing spell segment">
  <h3 class="ui header">Zap!</h3>
  <div class="ui stackable spell grid">
    <div class="eleven wide column">
      <ui-spell type="spell" key="W" name="JinxW" class="left floated"></ui-spell>
      <p>Jinx fires a shock blast that deals <span class="variable">10/60/110/160/210</span> <span class="colorFF8C00">(+1.4 * AD)</span> Physical Damage to the first enemy hit, revealing it and slowing it by <span class="variable">30/40/50/60/70%</span> for 2 seconds.</p>
    </div>
    <div class="five wide column">
      <div class="ui list">
        <div class="item">
          <i class="target icon"></i>
          <div class="content">
            <span class="name">Range:</span> 900
          </div>
        </div>
        <div class="item">
          <i class="refresh icon"></i>
          <div class="content">
            <span class="name">Cooldown:</span> 24/22/20/18/16 sec
          </div>
        </div>
        <div class="item">
          <i class="lab icon"></i>
          <div class="content">
            <span class="name">Resource:</span> 70 mana
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui divider"></div>
<div class="ui basic clearing spell segment">
  <h3 class="ui header">Flame Chompers!</h3>
  <ui-spell type="spell" key="E" name="JinxE" class="left floated"></ui-spell>
  <p>Jinx tosses out 3 chompers that, once armed, explode on contact with enemy champions, rooting the target for 1.5 seconds and dealing ... <span class="color99FF99">(+...)</span> Magic Damage over 1.5 seconds to nearby enemies. Chompers last for 5 seconds.</p>
</div>
<div class="ui divider"></div>
<div class="ui basic clearing spell segment">
  <h3 class="ui header">Super Mega Death Rocket</h3>
  <ui-spell type="spell" key="R" name="JinxR" class="left floated"></ui-spell>
  <p>Jinx fires a rocket that gains damage over the first second it travels. It explodes on the first enemy champion hit, dealing ... <span class="colorFF8C00">(+...)</span> to ... <span class="colorFF8C00">(+...)</span> Physical Damage plus ...% of the target's missing Health. Nearby enemies take 80% Damage.</p>
</div>
