<div class="ui stackable grid">
  <div class="ten wide column">
    <ng-container *ngIf="champion.recommend">
      <ng-container *ngIf="champion.recommend.summonerSpells">
        <h3 class="ui header">Recommended Summoner Spells</h3>
        <table class="ui unstackable definition table">
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th>Pick Rate</th>
              <th>Win Rate</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let group of champion.recommend.summonerSpells">
              <td class="collapsing">
                <span *ngFor="let spell of group.spells; let isLast=last">
                  <ui-spell-icon suiTooltip variation="mini" [spell]="spell"></ui-spell-icon>
                  <i *ngIf="!isLast">&nbsp;</i>
                </span>
              </td>
              <td>
                <strong>{{group.pickRate}}</strong><br />
                {{group.pickCount}}
              </td>
              <td>
                {{group.winRate}}
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
      <recommended-skills *ngIf="champion.recommend.skillBuilds" [skillBuilds]="champion.recommend.skillBuilds" [spells]="champion.spells"></recommended-skills>
    </ng-container>
  </div>
  <div class="six wide column">

  </div>
</div>
