<div class="content">
  <i class="right floated star icon"></i>
  <div class="ui left floated image">
    <span class="champion-icon" [style.background-image]="'url(http://ddragon.leagueoflegends.com/cdn/' + champion.version + '/img/champion/' + (champion.imageName | stripSpaces) + '.png)'"></span>
  </div>
  <h2 class="header">{{champion.name}}</h2>
  <div class="meta">
    <div class="right floated ui labels">
      <span class="ui label" *ngFor="let tag of champion.tags">{{tag}}</span>
    </div>
    <p class="subheader">{{champion.title}}</p>
  </div>
</div>
<champion-card-stats [playStats]="champion.playStats"></champion-card-stats>
