<div class="content">
  <i class="right floated star icon"></i>
  <div class="ui left floated image">
    <img src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/champion/{{champion.name}}.png" />
  </div>
  <h2 class="header">{{champion.name}}</h2>
  <div class="meta">
    <p class="subheader">{{champion.title}}</p>
    <div class="ui labels">
      <span class="ui label" *ngFor="let tag of champion.tags">{{tag}}</span>
    </div>
    <p class="right floated date">Version: {{champion.version}}</p>
  </div>
</div>
<div class="ui segment">
  <div class="ui mini four statistics">
    <ui-statistic *ngFor="let stat of champion.stats" [stat]="stat"></ui-statistic>
  </div>
</div>
