<div class="ui container">
  <div class="ui fluid profile card">
    <div class="content">
      <i class="right floated star icon"></i>
      <a class="header">{{profile}}</a>
      <div class="meta">
        <span class="rank">Ladder Rank 2,535,830 (92% of top)</span>
      </div>
      <div class="ui labels description">
        <span class="ui bronze label">S6 Bronze</span>
      </div>
      <div class="meta">
        <span class="right floated date">Last Updated: 8 months ago</span>
      </div>
    </div>
    <div class="ui bottom attached buttons">
      <a class="ui green icon button"><i class="refresh icon"></i> Renew</a>
      <a class="ui icon button"><i class="play icon"></i>Live<span class="ui desktop"> Game</span></a>
    </div>
  </div>
</div>
