<div class="ui container segment">
    <p>Howdy! Here's a list of awesome computer scientists. Do you know any others? Add to the list yourself.</p>

    <form class="ui form" (submit)="addName()">
        <div class="ui action input">
            <input [(ngModel)]="newName" name="newName" placeholder="Awesome Computer Scientist">
            <button class="ui button" type="submit">Add</button>
        </div>
    </form>

    <div class="ui list">
        <div class="item" *ngFor="let name of names">
            <i class="user icon"></i>
            <span class="content">{{name}}</span>
        </div>
    </div>
</div>
