<div class="ui basic spell segment">
  <div class="ui stackable grid">
    <div class="eleven wide column">
      <h3 class="ui header">{{ spell.name }}</h3>
      <ui-spell-icon suiTooltip [spell]="spell" class="left floated"></ui-spell-icon>
      <p [innerHTML]="tooltip"></p>
    </div>
    <div class="five wide column">
      <div suiDropdown class="ui dropdown button">
        <div class="text">Select Rank</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item" *ngFor="let rank of ranks" (click)="update(rank)">Rank {{ rank }}</div>
        </div>
      </div>
      <div class="ui list">
        <div class="item">
          <i class="target icon"></i>
          <div class="content">
            <span class="name">Range:</span> {{ spell.ranges[level] }}
          </div>
        </div>
        <div class="item">
          <i class="refresh icon"></i>
          <div class="content">
            <span class="name">Cooldown:</span> {{ spell.cooldowns[level] }} sec
          </div>
        </div>
        <div class="item">
          <i class="lab icon"></i>
          <div class="content">
            <span class="name">Resource:</span> {{ spell.resource.values[level] }} {{ spell.resource.name }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
