<section class="champion">
  <div class="ui container">
    <champion-card class="ui fluid card" *ngIf="champion" [champion]="champion"></champion-card>
    <div class="ui top attached tabular small menu">
      <a ui-tab class="active item" data-tab="summary">Summary</a>
      <a ui-tab class="item" data-tab="abilities">Abilities</a>
    </div>
    <champion-summary *ngIf="champion" [champion]="champion" class="active" data-tab="summary"></champion-summary>
    <div class="ui bottom attached tab segment" data-tab="abilities">
      <h3 class="ui header">Abilities</h3>
    </div>
  </div>
</section>
