<section class="champion">
  <div class="ui container">
    <champion-card class="ui fluid card" *ngIf="champion" [champion]="champion"></champion-card>
    <div class="ui mini form">
      <div class="inline field">
        <label>Enter Champion ID:</label>
        <input type="text" #championId (keyup.enter)="onKey(championId.value)">
      </div>
    </div>
    <div class="ui top attached tabular small menu">
      <a class="active item" data-tab="summary">Summary</a>
      <a class="item" data-tab="abilities">Abilities</a>
    </div>
    <champion-summary *ngIf="champion" [champion]="champion" class="active" data-tab="summary"></champion-summary>
    <champion-abilities *ngIf="champion" [champion]="champion" data-tab="abilities"></champion-abilities>
  </div>
</section>
