@import '../../scss/variables';

.summoner {
  background: url('http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Lux_6.jpg') no-repeat center top fixed;

  .container {
    margin-top: 2.8em;
    padding-bottom: 1em;
  }
}

.ui.profile.card {
  h2 {
    margin-bottom: 0.1em;
  }

  img {
    padding: 1px;
    border: 1px solid $c-borderGold;
  }
}
