<section class="summoner">
  <div class="ui container">
    <div class="ui fluid profile card" *ngIf="summoner">
      <div class="content">
        <i class="right floated star icon"></i>
        <div class="ui left floated image">
          <span class="ui left mini ribbon label">{{summoner.level}}</span>
          <img src="http://ddragon.leagueoflegends.com/cdn/7.5.1/img/profileicon/{{summoner.profileIconId}}.png" />
        </div>
        <h2 class="header">{{summoner.name}}</h2>
        <div class="meta">
          <p class="region">{{region}}</p>
          <p class="rank">Ladder Rank 2,535,830 (92% of top)</p>
          <div class="ui labels description">
            <span class="ui {{Tiers[rank.group]}} label" *ngFor="let rank of summoner.ranks">S{{rank.season}} {{Tiers[rank.group] | capitalize}}</span>
          </div>
          <p class="right floated date">Last Updated: 8 months ago</p>
        </div>
      </div>
      <div class="ui bottom attached buttons">
        <a class="ui primary icon button"><i class="refresh icon"></i> Renew</a>
        <a class="ui icon button"><i class="play icon"></i>Live<span class="ui desktop"> Game</span></a>
      </div>
    </div>
    <div class="ui top attached tabular small menu">
      <a class="active item">Summary</a>
      <a class="item">Champions</a>
      <a class="item">Leagues</a>
      <a class="ui desktop item">Matches</a>
      <a class="ui desktop item">Runes</a>
      <a class="ui desktop item">Masteries</a>
      <div class="right menu">
        <div suiDropdown class="ui mobile dropdown item">
          <i class="horizontal ellipsis icon"></i>
          <div class="menu">
            <a class="item">Matches</a>
            <a class="item">Runes</a>
            <a class="item">Masteries</a>
          </div>
        </div>
      </div>
    </div>
    <div class="ui bottom attached segment">
      <div class="ui stackable grid">
        <div class="twelve wide column">
          <div class="ui top attached header segment">Performance Chart</div>
        </div>
        <div class="four wide center aligned column">
          <ui-statistic [stat]="{'label':'Current Rank','value':'Bronze'}" class="ui mini"></ui-statistic>
        </div>
      </div>
    </div>
  </div>
</section>
