<section class="about">
  <div class="ui container segment">
      <p>Angular Seed is a starter project that implements best practices in coding, building and testing Angular apps.</p>

      <h2 class="ui header">Features</h2>
      <ul class="ui list">
        <li class="item">Ready to go, statically typed build system using Gulp for working with TypeScript.</li>
        <li class="item">Production and development builds.</li>
        <li class="item">Sample unit tests with Jasmine and Karma including code coverage via Istanbul.</li>
        <li class="item">End-to-end tests with Protractor.</li>
        <li class="item">Development server with live reload.</li>
        <li class="item">TypeScript definition management using Types.</li>
        <li class="item">Basic Service Worker, which implements "Cache then network strategy".</li>
      </ul>
  </div>
</section>
